.form-item {
  color: clr(text);
  margin-bottom: 1em;
  max-width: 32em;

  @include clearfix;
}

.form-item__label {
  display: block;
  font-weight: 600;

  @include xs {
    display: block;
    margin-right: 2%;
    padding: 0.6em 0;
  }
}

.form-item__textfield {
  background-color: clr(accentsubtle);
  border: 1px solid color(gray-4a);
  border-radius: 3px;
  line-height: 1.56;
  padding: $space-one-half;
  max-width: 100%;

  &:focus {
    border-color: clr(accent-high);
  }

  &::placeholder {
    color: clr(highlight);
    opacity: 0.66;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}

.form-submit {
  text-transform: uppercase;
}
