.mss-primary {
  @include wrapper;

  margin-bottom: $space-triple;

  @include large {
    @include grid;
  }

  &-inner {
    grid-area: content;
  }

  &-title {
    margin-top: $space * 2;
    margin-bottom: $space;
    font-size: 3.6rem;
    line-height: 1.1;
  }

  &-desc {
    margin-bottom: $space;
  }
}

.mss-sub-policies {
  @include list-reset;

  &__li {
    border-bottom: 1px solid rgba(151, 141, 133, 0.35);
    margin: 0.8rem 0 .8rem;
    padding: .8rem 0 1rem;
    line-height: 1.2;
  }

  &-labels {
    display: flex;
    margin-bottom: $space * .25;
  }

  &-label {
    margin-right: $space-half;
    background: $color_required;
    color: clr(text-inverse);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 0.7rem;
    display: block;
    width: fit-content;
    border-radius: 70px;

    &-upcoming {
      background: #4A4A4A;
    }
  }
}
