// Color variables - it is better to use the colors in 
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly. 

$info_gray: #3a3737;
$info_gray_light: #cfcbc7;

$info_blue-50: #eaf0f9;
$info_blue-52: #52769a;
$info_blue-900: #0b2138;

$info_orange_dark: #903f13;
$info_blue_dark: #1f5596;
