@mixin bg-colors {
  &--dark-blue {
    background-color: clr(background-inverse);
  }

  &--light-blue {
    background-color: clr(primary);
  }

  &--muted {
    background-color: clr(accent);
  }

  &--dark-muted {
    background-color: color(gray-4a);
  }

  &--dark-gray {
    background-color: clr(background-deep);
  }
}
