.teaser {
  border-bottom: 1px solid clr('border-light');
  padding: 0.8rem 0 1rem;

  &:first-child {
    border-top: 1px solid clr('border-light');
  }

  &--light {
    border-bottom: none;
    padding: 0.6rem 0 0.8rem;

    &:first-child {
      border-top: none;
    }

    .teaser__heading-link--light {
      text-decoration: none;
    }
  }
}

.teaser__heading {
  font-family: $font-heading;
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 1.49;
  margin: 0;
}

.teaser__subheading {
  color: color(gray-4a);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.49;
  margin: 0 0 $space;
}

.teaser__heading-link--light {
  color: clr(text-inverse);
}

.teaser__body {
  margin-bottom: 0;
}
