.table-outer-wrapper {
  margin: 1em 0;
  position: relative;
}

.table-overflow {
  background: linear-gradient(90deg, transparent 55%, rgba(166, 167, 167, 0.4) 100%);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;

  @include breakpoint(600px) {
    display: none;
  }
}

.table-wrapper {
  overflow-x: auto;

  @include breakpoint(600px) {
    overflow: visible;
  }
}

.table {
  border: none;
  border-spacing: 0;
  color: clr(text);
  font-size: 1.6rem;
  min-width: 600px;
  width: 100%;

  @include breakpoint(600px) {
    min-width: auto;
  }
}

.table__heading-cell,
.table__cell {
  border: none;
  border-bottom: 1px solid clr(border-light);
  border-right: 1px solid clr(border-light);
  padding: 1.3rem $space;

  &:last-child {
    border-right: none;
  }
}

.table__heading-cell {
  background-color: clr(background-inverse);
  border-bottom: 1px solid color(gray-4a);
  border-right: 1px solid color(gray-4a);
  color: clr(text-inverse);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;

  .bg--dark-gray & {
    background-color: clr(primary);
  }

  .bg--blue & {
    background-color: clr(background-deep);
  }

  .bg--dark-blue & {
    background-color: clr(primary);
  }

  thead & {
    border-bottom: 1px solid clr(border-light);
  }
}

.tbody {
  .table__row {
    background-color: clr(background);

    &:first-child td {
      border-top: 1px solid clr(border-light);
    }

    &:nth-child(even) {
      background-color: clr(accentsubtle);

      .bg--light-gray & {
        background-color: clr(border-light);
      }
    }
  }

  thead + & {
    .table__row {  
      &:first-child td {
        border-top: none;
      }
    }
  }
}

.table__footer-cell,
.table__footer-cell:first-child {
  border-bottom: none;
  border-top: 1px solid clr(highlight-high);
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  table {
    @extend .table;
  }

  tbody {
    @extend .tbody;
  }

  th {
    @extend .table__heading-cell;
  }

  td {
    @extend .table__cell;
  }

  tr {
    @extend .table__row;
  }

  tfoot th {
    @extend .table__footer-cell;
  }
}
