/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin body-copy {
  font-family: $font-body;
  font-size: 1.9rem;
  font-weight: 350;
  line-height: 1.6;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: 1440px,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-break: $h-padding,
  $h-padding-large: 0
) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-break};
  }

  @include medium {
    padding: #{$v-padding} 4rem;
  }

  @include large {
    padding: #{$v-padding} #{$h-padding-large};
  }
}

@mixin grid(
    $areas: "left-side left-gutter content gutter sidebar right-gutter right-side",
    $columns: 3.5% 3.5% 61% 3.5% 21.5% 3.5% 3.5%,
    $bp: $large
  ) {
  grid-template-areas: $areas;
  grid-template-columns: $columns;

  @include breakpoint($bp) {
    display: grid;
  }
}

@mixin centered-grid(
    $areas: "left-side-c aside-left-c gutter-left-c content-c gutter-right-c aside-right-c right-side-c",
    $columns: 3.5% 17.5% 3.5% 51% 3.5% 17.5% 3.5%,
    $xl-columns: 3.5% 14.5% 3.5% 57% 3.5% 14.5% 3.5%
  ) {
  grid-template-areas: $areas;
  grid-template-columns: $columns;

  @include large {
    display: grid;
  }

  @include xl {
    grid-template-columns: $xl-columns;
  }
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

@mixin alert-bg {
  &--persistent {
    background-color: color(gray-dd);
  }

  &--warning {
    background-color: color(warning);
  }

  &--danger {
    background-color: color(danger);
    color: clr(text-inverse);
  }

  &--notice {
    background-color: color(success);
    color: clr(text-inverse);
  }
}

@mixin btn-reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}
