.image-section {
  @include wrapper;

  margin-bottom: $space-triple;

  &--primary,
  &--large {
    @include grid;
  }

  &--centered {
    @include centered-grid;
  }

  figure,
  img {
    width: 100%;
  }
}

.image-section__image {
  &--primary {
    grid-area: content;
  }

  &--centered {
    grid-area: content-c;
  }

  &--large {
    grid-column-end: 7;
    grid-column-start: 2;
  }
}

.image-section__aside {
  grid-column-end: 7;
  grid-column-start: 5;

  .blockquote {
    margin-bottom: 0;
    margin-top: 0;
  }
}
