.image-section {
  @include wrapper;

  margin-bottom: $space-triple;

  .bg:last-child & {
    margin-bottom: 0;
  }

  &--primary,
  &--large {
    @include grid;
  }

  &--anchored_aside_left,
  &--anchored_aside_right {
    @include aside-grid;
  }

  &--centered {
    @include centered-grid;
  }

  figure,
  img {
    margin-bottom: 0;
    width: 100%;
  }
}

.image-section__image {
  &--primary {
    grid-area: content;
  }

  &--centered {
    grid-area: content-c;
  }

  &--large {
    grid-column-end: 7;
    grid-column-start: 2;
  }

  &--anchored_aside_left {
    grid-column-end: 5;
    grid-column-start: 2;

    &.image-section__image--large {
      grid-column-end: 8;
    }
  }

  &--anchored_aside_right {
    grid-column-end: 6;
    grid-column-start: 4;

    &.image-section__image--large {
      grid-column-end: 6;
      grid-column-start: 1;
    }
  }
}

.image-section__aside {
  grid-column-end: 7;
  grid-column-start: 5;

  .blockquote {
    margin-bottom: 0;
    margin-top: 0;
  }
}
