{#
 # Available variables:
 # - image_section__base_class - base classname of the wrapper.
 #}
{% set image_section__base_class = 'image-section' %}

<div {{ bem(image_section__base_class) }}>
  <div {{ bem('content', image_section_content_modifiers, image_section__base_class) }}>
    {% block image_section_img %}
      {% include "@atoms/images/image/figure.twig" %}
    {% endblock %}
  </div>
</div>
