{#
 # Available variables:
 # - image_section__base_class - base classname of the wrapper.
 #}
{% set image_section__base_class = 'image-section' %}

{% if not image_section_content_modifiers %}
  {% set image_section_content_modifiers = [] %}
{% endif %}

{% set image_section_content_modifiers = image_section_content_modifiers|merge(image_section__modifiers) %}

<div {{ bem(image_section__base_class, image_section__modifiers) }}>
  <div {{ bem('image', image_section_content_modifiers, image_section__base_class) }}>
    {% block image_section_img %}
      {% include "@atoms/images/image/figure.twig" %}
    {% endblock %}
  </div>
  {% if 'large' not in image_section_content_modifiers %}
    <div {{ bem('aside', image_section_content_modifiers, image_section__base_class) }}>
      {% block image_section_aside %}
        {% include "@atoms/text/text/02-blockquote.twig" %}
      {% endblock %}
    </div>
  {% endif %}
</div>
