.tabs__link,
.tabs__link--local-tasks {
  background-color: clr(background);
  border: 1px solid clr(background-section);
  border-bottom: none;
  color: clr(text);
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  @include large {
    border-bottom: 1px solid clr(background-section);
    border-left: none;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.6em 1.7em;
    position: relative;
    top: 1px;
    width: auto;
  }

  &:hover {
    background-color: clr(background-section);
  }

  &.is-active {
    background-color: clr(background-section);
    border: 1px solid clr(text);

    @include large {
      background-color: clr(background-section);
      border: 1px solid clr(background-section);
      border-bottom: 1px solid clr(background-section);
      border-left: none;
    }
  }
}
