@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include flex;

  &--card {
    @include space-stack-page;

    justify-content: center;

    @include large {
      justify-content: normal;
    }
  }

  &--top {
    margin-bottom: 0;
  }
}

.grid__heading {
  color: clr('text-heavy');
  font-size: 2.4rem;
  line-height: 0.94;
  margin: 0 0 4rem;
  text-transform: uppercase;

  .bg--dark-gray &,
  .bg--blue &,
  .bg--dark-blue & {
    color: clr(text-inverse);
  }
}

// Container
.grid-container {
  @include grid;
}

.grid-container__inner {
  grid-column-start: content;
  grid-column-end: sidebar;
}
