@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include flex;

  &--card {
    @include space-stack-page;

    justify-content: center;
  }

  &--top {
    margin-bottom: 0;
  }
}

.grid__heading {
  color: clr('text-heavy');
  font-size: 2.4rem;
  line-height: 0.94;
  margin: 0 0 4rem;
  text-transform: uppercase;

  .bg--dark-gray &,
  .bg--blue &,
  .bg--dark-blue & {
    color: clr(text-inverse);
  }

  &--featured {
    font: normal 5.5rem/1 $font-heading;
    text-align: center;
    text-transform: none;

    @include medium {
      font-size: 6.4rem;
    }
  }
}

$patternBg: #eae9e8;
$patternDot: #d3d2d0;
$dot-size: 1.5px;
$dot-space: 7px;

// Container
.grid-container {
  @include wrapper;

  max-width: none;
  position: relative;
  z-index: 1;

  @include grid($bp: $medium);

  &--padded {
    padding-bottom: $space-triple;
    padding-top: $space-triple;

    @include medium {
      padding-bottom: $space-quintuple;
      padding-top: $space-quintuple;
    }
  }

  &--pattern {
    background:
      linear-gradient(90deg, $patternBg ($dot-space - $dot-size), transparent 1%) center,
		  linear-gradient($patternBg ($dot-space - $dot-size), transparent 1%) center,
      $patternDot;
    background-size: $dot-space $dot-space;
    padding-bottom: $space-triple;
    padding-top: $space-triple;

    @include medium {
      padding-bottom: $space-quintuple;
      padding-top: $space-quintuple;
    }
  }
}

.grid-container__inner {
  &--pulled {
    @include large {
      margin-top: -12rem;
    }
  }

  @include medium {
    grid-column-start: 3;
    grid-column-end: 6;
  }
}
