@mixin grid {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  @include grid;

  &--card {
    @include space-stack-page;
  }
}

.grid__heading {
  color: clr('text-heavy');
  font-size: 2.4rem;
  line-height: 0.94;
  margin: 0 0 4rem;
  text-transform: uppercase;
}
