@mixin grid-item {
  flex: 1 1 100%;
  margin-bottom: $space-double;

  @include large {
    margin: 0 5% 5% 0;
    flex-basis: 45%;
  }

  &:nth-child(2n),
  &:last-child {
    margin-right: 0;
  }
}

@mixin grid-item-3 {
  flex: 1 1 100%;
  margin-bottom: $space-double;

  @include large {
    margin: 0 3% 3% 0;
    flex-basis: 31%;
  }

  &:nth-child(3n),
  &:last-child {
    margin-right: 0;
  }
}

@mixin grid-item-4 {
  margin-bottom: $space-double;

  @include medium {
    margin: 0 4% 4% 0;
    width: 48%;

    &:nth-child(2n),
    &:last-child {
      margin-right: 0;
    }
  }

  @include large {
    margin: 0 2% 2% 0;
    width: 23.5%;

    &:nth-child(2n) {
      margin-right: 2%;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.grid__item {
  @include grid-item;

  /* This is just for the component library example */
  &--example {
    background-color: clr(background-section);
    padding: $space-quadruple;
  }
}

.grid__item-three {
  @include grid-item-3;
}

.grid__item-four {
  @include grid-item-4;
}
