.text-section {
  @include wrapper;

  margin-bottom: $space-triple;

  &--primary,
  &--anchored_aside_left {
    @include grid;
  }

  &--anchored_aside_right {
    @include aside-grid;
  }

  &--centered {
    @include centered-grid;
  }
}

.text-section__content {
  &--primary,
  &--anchored_aside_left {
    grid-area: content;
  }

  &--anchored_aside_right {
    grid-column-end: 6;
    grid-column-start: 4;
  }

  &--centered {
    grid-area: content-c;
  }
}
