.text-section {
  @include wrapper;

  margin-bottom: $space-triple;

  &--primary,
  &--anchored_aside_left,
  &--anchored_aside_right {
    @include grid;
  }

  &--centered {
    @include centered-grid;
  }
}

.text-section__content {
  &--primary,
  &--anchored_aside_left,
  &--anchored_aside_right {
    grid-area: content;
  }

  &--centered {
    grid-area: content-c;
  }
}
