.text-section {
  @include wrapper;

  margin-bottom: $space-triple;

  .bg:last-child & {
    margin-bottom: 0;
  }

  &--primary {
    @include grid;
  }

  &--anchored_aside_left,
  &--anchored_aside_right {
    @include aside-grid;
  }

  &--centered {
    @include centered-grid;
  }

  @include paragraph-remove-spacing;
}

.text-section__content {
  &--primary {
    grid-area: content;
  }

  &--anchored_aside_left {
    grid-column-end: 5;
    grid-column-start: 2;
  }

  &--anchored_aside_right {
    grid-column-end: 6;
    grid-column-start: 4;
  }

  &--centered {
    grid-area: content-c;
  }
}
