{#
/**
 * Available variables:
 * - button_content - the content of the button (typically text)
 *
 * Available blocks:
 * - button_content - used to replace the content of the button with something other than text
 *   for example: to insert an icon
 */
#}

{% set button_base_class = button_base_class|default('button') %}

{% set additional_attributes = {
  class: bem(button_base_class, button_modifiers, button_blockname, button_extra_classes),
  "aria-label": 'button',
} %}

<button {{ add_attributes(additional_attributes) }}>
  {% if button_icon_before %}
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_blockname: button_base_class,
      icon_modifiers: ['before'],
      icon_name: button_icon_before,
      icon_decorative: true,
    } %}
  {% endif %}
  {% block button_content %}
    {{ button_content }}
  {% endblock %}
  {% if button_icon_after %}
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_blockname: button_base_class,
      icon_modifiers: ['after'],
      icon_name: button_icon_after,
      icon_decorative: true,
    } %}
  {% endif %}
</button>
