/*
 * General Layout
*/
.main-content__top {
  @include wrapper;
  @include grid;

  margin-top: $space-double;

  @include medium {	
    margin-top: $space-triple;	
  }

  @include large {
    margin-top: $space-quadruple;
  }

  margin-bottom: $space-triple;

  &--small {
    margin-bottom: $space;
  }

  &--front {
    margin: 0;
  }
}

.main-content__top-inner {
  grid-area: content;
}
