/*
 * General Layout
*/

.main-content__top {
  @include wrapper;

  @include large {
    @include grid;
  }

  margin-bottom: $space-triple;
}

.main-content__top-inner {
  grid-area: content;
}

.main-content__bottom {
  margin-bottom: 4em;
}
