/*
 * General Layout
*/

.main-content__top {
  @include grid;

  margin-bottom: $space-triple;
}

.main-content__top-inner {
  grid-area: content;
}

.main-content__bottom {
  @include wrapper;

  margin-bottom: 4em;
}
