.text-with-quote {
  @include wrapper;

  &--primary {
    @include large {
      @include grid;
    }
  }

  &--centered {
    @include large {
      @include centered-grid;
    }
  }
}

.text-with-quote__quote {
  @include blockquote;

  &--primary {
    grid-area: sidebar;
  }

  &--centered {
    grid-area: aside-left-c;
  }

  &--quote-right {
    grid-area: aside-right-c;
  }

  p {
    margin: 0;
  }
}

.text-with-quote__text {
  &--primary {
    grid-area: content;
  }

  &--centered {
    grid-area: content-c;
  }
}
