.text-with-quote {
  @include wrapper;

  &--primary {
    @include grid;
  }

  &--centered {
    @include centered-grid;

    hyphens: auto;
  }

  &--anchored_aside_left,
  &--anchored_aside_right {
    @include aside-grid;
  }

  @include paragraph-remove-spacing;
}

.text-with-quote__quote {
  @include blockquote;

  align-self: start;

  &--primary {
    grid-area: sidebar;
  }

  &--centered {
    grid-area: aside-left-c;
  }

  &--quote-right {
    grid-area: aside-right-c;
  }

  &--anchored_aside_left {
    grid-column-end: 6;
    grid-column-start: 5;
    grid-row-start: 1;
  }

  &--anchored_aside_right {
    grid-column-end: 3;
    grid-column-start: 2;
  }

  p {
    margin: 0;
  }
}

.text-with-quote__text {
  &--primary {
    grid-area: content;
  }

  &--centered {
    grid-area: content-c;
  }

  &--anchored_aside_left {
    grid-column-end: 4;
    grid-column-start: 2;
    grid-row-start: 1;
  }

  &--anchored_aside_right {
    grid-column-end: 6;
    grid-column-start: 4;
  }
}
