{#
 # Available variables:
 # - text_with_quote__base_class - base classname of the wrapper.
 #}
{% set text_with_quote__base_class = text_with_quote__base_class|default('text-with-quote') %}

<div {{ bem(text_with_quote__base_class, text_with_quote__modifiers) }}>
  <div {{ bem('quote', text_with_quote__modifiers, text_with_quote__base_class) }}>
    {% block text_with_quote_quote %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_modifiers: ['quote-left'],
        paragraph_content: text_with_quote_quote_content
      } %}
    {% endblock %}
  </div>
  <div {{ bem('text', text_with_quote__modifiers, text_with_quote__base_class) }}>
    {% block text_with_quote_text %}
      {% include "@atoms/text/text/01-paragraph.twig" %}
    {% endblock %}
  </div>
</div>
