/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/
@mixin paragraph($margin: 0.8rem 0) {
  line-height: 1.49;
  margin: $margin;
}

p,
.paragraph {
  @include paragraph;
}

.blockquote {
  color: clr(text-heavy);
  font-size: 2.7rem;
  font-style: normal;
  border-left: solid 1px clr(accent);
  margin-left: 0;
  padding-left: 2.5rem;

  &--sb {
    margin-left: 2.5rem;
  }
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}

// Storybook
.example-content {
  padding: 3rem;
}
