.status__list {
  @include list-reset;

  margin-bottom: $space;
}

.status {
  display: block;
  margin-bottom: $space-one-half;
  padding: $space-one-half;
  text-align: center;

  &--warning {
    background-color: color(warning);
  }

  &--error {
    color: clr(text-inverse);
    background-color: color(danger);
  }

  &--status {
    color: clr(text-inverse);
    background-color: color(success);
  }

  // Links
  a {
    color: clr(text-inverse);
    text-decoration: underline;

    &:hover {
      color: clr(accentsubtle);
    }
  }
}
