.video-section {
  @include wrapper;

  margin-bottom: $space-triple;

  &--primary {
    @include large {
      @include grid;
    }
  }

  &--centered {
    @include large {
      @include centered-grid;
    }
  }
}

.video-section__content {
  &--primary {
    grid-area: content;
  }

  &--centered {
    grid-area: content-c;
  }
}
