.video-section {
  @include wrapper;

  margin-bottom: $space-triple;

  &--primary {
    @include grid;
  }

  &--centered {
    @include centered-grid;
  }

  &--anchored_aside_left,
  &--anchored_aside_right {
    @include aside-grid;
  }
}

.video-section__content {
  &--primary {
    grid-area: content;
  }

  &--centered {
    grid-area: content-c;
  }

  &--anchored_aside_left {
    grid-column-end: 5;
    grid-column-start: 2;
  }

  &--anchored_aside_right {
    grid-column-end: 6;
    grid-column-start: 4;
  }
}

// Embed Field Specific
.iframe_title {
  display: none;
}
