.logo {
  color: white;
  display: inline-block;
  line-height: 1;
  font-family: $font-family-yale;
  text-decoration: none;

  @include large {
    border-bottom: 1px solid clr(border);
    padding-bottom: 0.8rem;
    margin-bottom: 2rem;
  }
}

.logo__yale {
  font-size: 2.25rem;
  margin-right: 0.25rem;

  @include small {
    font-size: 2.8rem;
    margin-right: 0.5rem;
  }

  @include medium {
    font-size: 4rem;
    margin-right: 1.3rem;
  }
}

.logo__infosec {
  font-size: 1.57rem;
  position: relative;
  text-transform: uppercase;
  top: 0;

  @include small {
    font-size: 1.85rem;
  }

  @include medium {
    font-size: 2.8rem;
  }
}
