.logo {
  color: white;
  display: inline-block;
  line-height: 1;
  font-family: $font-family-yale;
  text-decoration: none;

  &:hover {
    color: clr('muted');
    text-decoration: none;
  }

  @include large {
    padding-bottom: 0.8rem;
    position: relative;
    margin-bottom: 2rem;

    &::after {
      background-color: clr(border);
      bottom: 0;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      width: 106%;
    }
  }
}

.logo__yale {
  font-size: 2.15rem;

  @include small {
    font-size: 2.8rem;
    margin-right: 0.5rem;
  }

  @include medium {
    font-size: 4rem;
    margin-right: 1.3rem;
  }
}

.logo__infosec {
  font-size: 1.47rem;
  position: relative;
  text-transform: uppercase;
  top: 0;

  @include small {
    font-size: 1.85rem;
  }

  @include medium {
    font-size: 2.8rem;
  }
}
