@mixin link {
  color: clr(primary);
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: clr(secondary);
    text-decoration: underline;
  }
}

a,
.link {
  @include link;

  .bg--dark-gray &,
  .bg--blue &,
  .bg--dark-blue & {
    color: clr(text-inverse);
    text-decoration: underline;

    &:hover {
      color: clr(secondary);
    }
  }
}
