.alert {
  @include large {
    @include grid;

    margin-top: $space-double;
  }
}

.alert__inner {
  @include alert-bg;

  grid-area: content;
  padding: $space $space 2.2rem;

  @include medium {
    padding: $space-double $space-triple;
  }

  @include large {
    padding: $space-double $space-quadruple;
  }
}

.alert__heading {
  font-size: 2.4rem;
  line-height: 1;
  margin: 0 0 $space-half;
  text-transform: uppercase;
}

.alert__copy {
  font-weight: bold;
  margin: 0 0 $space;

  p {
    margin: 0;
  }
}

.alert__button {
  border: 1px solid;
  border-radius: 3px;
  color: clr(text);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  padding: $space-half $space;

  &:hover {
    background-color: clr(text);
    border-color: clr(text);
    color: clr(text-inverse);
    text-decoration: none;
  }

  &--white {
    color: clr(text-inverse);

    &:hover {
      background-color: clr(text-inverse);
      border-color: clr(text-inverse);
      color: clr(text);
    }
  }
}
