html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block; /* Fix for IE weirdness */
}

.visually-hidden {
  @include visually-hidden;
}

.inline {
  &--alert {
    padding: $space-double;
  }

  &--persistent {
    background-color: color(gray-dd);
  }

  &--warning {
    background-color: color(warning);
  }

  &--danger {
    background-color: color(danger);
    color: clr(text-inverse);
  }

  &--notice {
    background-color: color(success);
    color: clr(text-inverse);
  }

  & > div {
    display: inline;
  }
}

.inline__label {
  font-weight: bold;

  &::after {
    content: ":";
  }
}
