html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: clr(background);
  color: clr(text);

  @include body-copy;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block; /* Fix for IE weirdness */
}

.visually-hidden {
  @include visually-hidden;
}
