.inline-menu {
  @include list-reset;
}

.inline-menu__item {
  margin: 0 1rem $space-half 0;

  @include large {
    display: inline;
    margin: 0 $space-double $space-half 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.inline-menu__link {
  @include link;

  border-bottom: 1px solid clr(text-inverse);
  display: inline-block;
  line-height: 1.3;

  &:hover {
    border-color: clr(secondary);
    text-decoration: none;
  }

  &--light {
    color: clr(text-inverse);
  }
}
