scripts-prepend-node-path=true
always-auth=true
@yalesites-org:registry=https://npm.pkg.github.com/
email=yalesites@yale.edu
//npm.pkg.github.com/:_authToken=5d63b6e8e2a23188f5096b4780fd32ef4b5ba950
@yalesites-org:registry=https://npm.pkg.github.com/
