.yi-mss-calculator-form-wrapper {
  @include wrapper;

  margin-bottom: $space-triple;

  @include large {
    @include grid;
  }
}

.yi-mss-calculator-form {
  grid-area: content;

  .fieldgroup {
    legend {
      @include heading-small;

      margin-bottom: $space-half;

      @include medium {
        @include heading-medium;
      }

      @include large {
        @include heading-large;
      }
    }

    .form-item {
      margin: 0;
    }

    /* Button rows */
    .form-item--radio,
    .form-item--checkboxes {
      display: flex;
      flex-flow: row wrap;

      .form-item__label {
        margin-right: $space-half;
      }
    }

    .form-item__textfield {
      display: none;
    }

    /* Faux buttons */
    .form-item__label {
      @include button-base;
      @include button-bg;

      @extend .button--primary;

      margin-top: $space-half;
      margin-bottom: 0;

      &::before {
        content: '';
        transition: all 0.15s;
      }
    }

    /* Faux buttons:checked */
    input[type="radio"]:checked,
    input[type="checkbox"]:checked {
      +.form-item__label {
        @include buttonColors(secondary);

        display: inline-flex;

        &::before {
          background-image: url('../images/icons/check.svg');
          width: 17px;
          height: 17px;
          margin-right: $space-half;
        }
      }
    }

  }

  .fieldgroup.error {
    legend+div {
      display: inline-block;
      border: 1px solid $color_required;
      background: rgba(189, 25, 25, 0.1);
      border-radius: 3px;
      color: $color_required;
      padding: $space-half $space;
    }
  }

  .button.form-submit {
    font-size: 1.5rem;
    display: block;
    width: auto;
    margin-left: 0;
    margin-top: 10rem;
    padding: 1.1rem 2rem;
    text-transform: none;

    @include small {
      font-size: 1.7rem;
    }

    @include large {
      font-size: 2.4rem;
      padding: 1.1rem 10rem;
    }
  }
}
