.mss-primary {
  @include wrapper;
  @include grid;

  margin-bottom: $space-triple;

  &-inner {
    grid-area: content;
  }

  &-title {
    margin-top: $space * 2;
    margin-bottom: $space;
    font-size: 3.6rem;
    line-height: 1.1;

    a {
      color: clr(text-heavy);
    }
  }

  &-desc {
    margin-bottom: $space;

    p {
      margin: 0;
    }
  }
}

.mss-sub-policies {
  @include list-reset;

  &__li {
    margin: 0.8rem 0 .8rem;
    padding: .8rem 0 1rem;
    line-height: 1.2;

    .standard-spec-labels, .lozenge {
      display: inline;
      font-size: 1.5rem; // That's a big pill.
    }
  }

  &-tertiary {
    margin-left: 3rem;
    padding-left: 1.5rem;
    border-left: 2px solid rgba(151, 141, 133, 0.35);
  }

  &-description {
    margin-top: 1rem;

    p {
      margin: 0;
    }
  }

  & a {
    color: clr(text-heavy);
    font-weight: bold;
    margin-right: 0.5rem;

    @include medium {
      font-size: 2.4rem;
    }
  }
}
