// This File is imported by Component Library
@import "style";

// Styles specific to Component Library (not Drupal).
@mixin wrap {
  display: block;
  padding: 2rem;
}

.cl-wrap {
  @include wrap;
}

.cl-mt {
  margin-top: 10rem;
}


.cl-wrap--dark {
  @include wrap;

  background-color: clr(background-inverse);
}

// Main Menu specific
.cl-main-menu {
  display: flex;
  justify-content: flex-end;
}
