@mixin lozenge {
  margin-right: $space-half;
  background: $color_required;
  color: clr(text-inverse);
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 0.4rem;
  padding: 0 0.7rem;
  display: block;
  width: fit-content;
  border-radius: 70px;
  white-space: nowrap;
  cursor: default;

  &--upcoming,
  &--internet-access,
  &--not-required {
    background: #4A4A4A;
  }

  &--hipaa,
  &--pci {
    background: clr(secondary);
  }

  &--access {
    background: clr(background-inverse);
  }

  &--large {
    @include medium {
      font-size: 1.59rem;
      line-height: 1;
      padding: 0.5rem 1.4rem 0.3rem;
    }
  }

  &--check {
    background: url(../images/icons/check.svg) no-repeat scroll center center color(gray-4a);
    background-size: 12px 12px;
    height: 0.5rem;
    padding: 1rem;
    text-indent: -999px;
    width: 1rem;
  }
}

.lozenge {
  @include lozenge;
}
