// Search block
.search-form {
  position: relative;
}

.search-form__close,
.search-form__clear {
  @include btn-reset;
}

.search-form__close {
  color: clr(text-inverse);
  display: none;
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 0.65;
  padding: 0;
  position: absolute;
  right: 0;
  top: -21px;
  text-transform: uppercase;

  @include large {
    display: block;
  }

  &:hover {
    opacity: 1;
  }
}

.search-form__clear {
  display: none;
  padding: 0;
  position: absolute;
  right: 217px;
  top: 14px;
  
  @include large {
    display: block;
  }
}

.search-form__icon {
  display: block;
  fill: rgba(74, 74, 74, 0.27);
  height: 30px;
  width: 30px;

  &:hover {
    fill: rgba(74, 74, 74, 0.77);
  }
}

// Search block Form
#views-exposed-form-search-search-page {
  display: flex;
}

#views-exposed-form-search-search-page .form-item {
  margin: 0;
  max-width: none;
  width: 80%;

  @include large {
    width: 100%;
  }
}

#views-exposed-form-search-search-page .form-item__textfield {
  border: none;
  border-radius: 2px 0 0 2px;
  font-family: $font-heading;
  font-style: italic;
  width: 100%;

  @include large {
    background-color: clr(background);
    border-radius: 0;
    font-size: 2.8rem;
    line-height: 1;
    padding: 1.3rem 2.4rem;
    max-width: none;
  }
}

#views-exposed-form-search-search-page .form-actions  {
  width: 20%;

  @include large {
    width: auto;
  }
}

#views-exposed-form-search-search-page .form-submit {
  @include button-base;

  background: url(../images/icons/search-white.svg) no-repeat scroll center center clr(secondary);
  border-radius: 0 2px 2px 0;
  margin: 0;
  padding: 1.3rem 1.6rem;
  text-indent: -9999px;

  @include large {
    background-position: 153px 14px;
    background-size: 30px 30px;
    border-radius: 0;
    color: clr(text-inverse);
    font: normal 2.8rem/1 $font-body;
    padding: $space 6rem $space 2.4rem;
    text-indent: 0;
  }

  &:hover {
    background-color: clr(secondary-deep);
  }
}
