/* Menu media */
$main-menu-medium: $medium;

/* Nav */
.main-nav {
  display: none;

  @include large {
    display: flex;
  }

  &--open {
    background-color: clr(background-inverse);
    border-top: 1px solid rgba(255, 255, 255, 0.32);;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: $space;
    position: fixed;
    top: 62px;
    right: 0;
    width: 100%;

    @include medium {
      padding: $space $space-triple;
      top: 94px;
    }

    @include large {
      border-top: none;
      display: flex;
      overflow: visible;
      padding: 0;
      position: static;
    }

    // Drupal admin menu
    .toolbar-vertical & {
      top: 101px;

      @include medium {
        top: 133px;
      }
    }

    .toolbar-horizontal & {
      top: 133px;
    }

    .toolbar-horizontal.toolbar-tray-open &  {
      top: 173px;
    }
  }
}

/* UL */
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  height: 92%;
  order: 1;
  overflow: hidden;
  position: relative;
  z-index: 10;

  @include large {
    border-bottom: none;
    height: auto;
    overflow: visible;

    &:hover {
      .main-menu__item--top {
        opacity: 0.65;
      }
    }
  }
}

/*
 * Sub Navigation
*/

.main-menu__parent-item {
  background: none;   
  border: none;
  color: clr(text-inverse);
  cursor: pointer;
  display: none;
  left: 4px;
  margin-bottom: $space;
  position: relative;
  text-align: left;
  width: 100%;

  @include large {
    left: 0;
  }

  .main-menu__child-menu--sub-current & {
    display: block;

    @include large {
      display: none;

      .main-menu--sub & {
        background-color: #1d5fae;
        display: flex;
        font-size: 1.9rem;
        font-weight: bold;
        line-height: 1.47;
        margin-bottom: $space-half;
        padding: 1rem 2.4rem;
        text-transform: uppercase;
      }
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.main-menu__parent-item-back {
  fill: clr(text-inverse);
  height: 14px;
  width: 17px;

  @include large {
    height: 18px;
    left: -8px;
    position: relative;
    top: 4px;
    width: 18px;
  }
}

.main-menu__child-menu {
  @include transition(transform);

  background-color: clr(background-inverse);
  color: clr(text-inverse);
  height: 100%;
  left: 0;
  position: absolute;
  transform: translateX(100%);
  top: 0;
  width: 100%;
  z-index: 1;

  @include large {
    background-color: clr(primary);
    display: none;
    height: auto;
    left: -$space;
    transform: none;
    top: 40px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;

    .main-menu__child-menu {
      left: 0;
      transform: translateX(100%);

      &--sub-open {
        display: block;
        height: 100%;
        top: 0;
        transform: translateX(0);
      }

      &--sub-current {
        display: block;
        height: auto;
        min-height: 100%;
      }
    }
  }

  &--sub-open {
    transform: translateX(0);
  }
}

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  width: 100%;

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}

// .main-menu--sub-2 {
//   @include large {
//     display: none; /* Never shown on large screens */
//   }
// }

// Search Icon
.search__icon {
  display: none;
  fill: clr(background);
  height: 2.5rem;
  position: relative;
  top: -9px;
  width: 2.2rem;

  @include large {
    display: inline-block;
  }
}
