/* Menu media */
$main-menu-medium: $medium;

/* Nav */
.main-nav {
  display: none;

  @include large {
    display: flex;
  }

  &--open {
    background-color: clr(background-inverse);
    border-top: 1px solid rgba(255, 255, 255, 0.32);;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: $space;
    position: fixed;
    top: 62px;
    right: 0;
    width: 100%;

    @include medium {
      top: 94px;
    }
  }
}

/* UL */
.main-menu {
  @include list-reset;

  border-bottom: 1px solid;
  height: 92%;
  overflow: hidden;
  position: relative;
  z-index: 10;

  @include large {
    border-bottom: none;
    height: auto;

    &:hover {
      .main-menu__item--top {
        opacity: 0.65;
      }
    }
  }
}

/*
 * Sub Navigation
*/

.main-menu__parent-item {
  cursor: pointer;
  display: block;
  margin-bottom: $space;

  @include large {
    display: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.main-menu__parent-item-back {
  fill: clr(text-inverse);
  height: 14px;
  width: 17px;
}

.main-menu__child-menu {
  background-color: clr(background-inverse);
  color: clr(text-inverse);
  height: 100%;
  left: 0;
  position: absolute;
  transform: translateX(100%);
  transition: transform 0.3s;
  top: 0;
  width: 100%;
  z-index: 1;

  @include large {
    height: auto;
    width: auto;
  }

  &--sub-open {
    transform: translateX(0);
  }
}

/* UL (Nested) */
.main-menu--sub {
  border-bottom: none;
  width: 100%;

  @include large {
    background-color: clr(highlight-high);
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 55px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
    opacity: 0.6;
  }

  &:hover {
    @include large {
      opacity: 1;
      background-color: clr(accent-high);
      transition: all 0.2s;

      .main-menu__link--sub {
        color: clr(highlight);

        &.active,
        &:active,
        &:hover {
          color: clr(background);
          background-color: clr(accent-high);
        }
      }
    }
  }

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include large {
    display: none; /* Never shown on large screens */
  }
}

// Search Icon
.search__icon {
  display: none;
  fill: clr(background);
  height: 2.5rem;
  position: relative;
  top: -1px;
  width: 2.2rem;

  @include large {
    display: inline-block;
  }
}
