/* LI */
.main-menu__item {
  background-color: clr(primary);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $space-half;
  position: relative;

  @include large {
    background-color: transparent;
    border-top: none;
    display: inline-block;

    /* Only top level */
    &:not(.main-menu__item--sub):hover {
      transition: all 0.2s;

      &:hover {
        opacity: 1;
      }

      // & > .main-menu--sub {
      //   display: block;
      // }
    }

    &--not-hovered {
      opacity: 0.8;
    }
  }

  &:hover {
    .main-menu__link::after {
      color: clr(text);
    }
  }
}

/* Expand Button */
.expand-sub {
  background-color: #1d5fae;
  color: clr(white);
  cursor: pointer;
  display: block;
  padding: 1.8rem 1.9rem 0;
  position: relative;
  width: 20%;

  @include large {
    display: none;
  }

  /* See main-menu.js */
  &--open {
    background-color: clr(accent-high);
    color: clr(muted);
  }
}

.main-menu__expand-sub-icon {
  fill: rgba(255, 255, 255, 0.72);
  height: 19px;
  width: 19px;
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  @include large {
    display: block;

    &:not(:first-child) {
      border-top: 1px solid clr(highlight);
    }
  }
}
