/* A */
.main-menu__link {
  border-radius: 4px;
  color: clr(text-inverse);
  display: block;
  line-height: 1.5;
  padding: $space;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: clr(text-inverse);
    text-decoration: none;
  }

  &--with-sub {
    width: 80%;
  }

  @include large {
    border-bottom: none;
    display: inline-block;
    font-size: 1.9rem;
    line-height: 1.47;
    padding: 0 2rem $space 0;
    position: relative;
    text-transform: uppercase;
    width: auto;

    &.active,
    &:active,
    &:hover {
      color: clr(highlight-high);
    }

    &--sub::after {
      display: none;
    }

    &:hover {
      color: clr(background);

      &::after {
        color: clr(highlight);
      }
    }
  }
}

/*
 * Sub Navigation Links
 */

/* A (Nested) */
.main-menu__link--sub {
  color: clr(accent);
  padding-left: $space-triple;
  font-weight: normal;

  @include large {
    color: clr(highlight);
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu--sub-2 {
  background-color: clr(highlight-high);
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
