/* Toggle */
.toggle-expand {
  @include link;

  color: clr(text-inverse);

  &:hover {
    text-decoration: none;

    .toggle-expand__text {
      color: clr(text-inverse);
    }
  }

  @include large {
    display: none;
  }

  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.toggle-expand__text {
  color: rgba(255, 255, 255, 0.65);
  display: block;
  font-size: 1.14rem;
  font-weight: bold;
  margin-right: 0.75rem;
  text-transform: uppercase;

  @include small {
    font-size: 1.24rem;
    margin-right: 0.75rem;
  }

  @include medium {
    font-size: 1.9rem;
    margin-right: $space;

    .toggle-expand__close & {
      margin-right: 1rem;
    }
  }
}

/* SVG icon */
.toggle-expand__icon {
  height: 2.3rem;
  fill: clr(text-inverse);
  width: 2.3rem;
  margin: 0 auto;

  @include medium {
    height: 3.2rem;
    width: 3.2rem;

    .toggle-expand__close & {
      height: 3.7rem;
      margin-top: -5px;
      width: 3.7rem;
    }
  }
}

.toggle-expand__open {
  align-items: center;
  display: flex;
  text-align: center;

  .toggle-expand--open & {
    display: none;
  }
}

.toggle-expand__close {
  align-items: center;
  display: none;
  text-align: center;

  .toggle-expand--open & {
    display: flex;
  }
}
