.main-nav-search {
  margin-bottom: 2rem;
  margin-top: 1rem;
  order: 0;

  @include large {
    display: none;
    left: 0;
    position: absolute;
    top: -16px;
    width: 100%;
    z-index: 100;

    &--open {
      display: block;
    }
  }
}

.main-nav__search_btn {
  @include btn-reset;

  order: 2;
  padding: 0;

  &:hover {
    opacity: 0.6;
  }
}
