{{ attach_library('yale_infosec/main-menu') }}

<nav {{ bem('main-nav-nav', main_nav_modifiers) }}>
  <a href="#" id="toggle-expand" class="toggle-expand">
    <span class="toggle-expand__open">
      <span class="toggle-expand__text">Menu</span>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "toggle-expand",
        icon_name: "menu",
      } %}
    </span>
    <span class="toggle-expand__close">
      <span class="toggle-expand__text">Close</span>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "toggle-expand",
        icon_name: "close",
      } %}
    </span>
  </a>
  {# Main Nav #}
  <div id="main-nav" class="main-nav">
    {# Search #}
    <div class="main-nav-search">
      {% block nav_search %}
        <div class="form-item">
          <label for="edit-search" class="form-item__label form-item__label--required form-item__label--textfield">Search</label>
          <input id="edit-search" autocorrect="none" autocapitalize="none" spellcheck="false" type="text" name="search" value="" size="60" maxlength="60" class="form-item__textfield form-item__textfield--required" required="required" aria-required="true" placeholder="Search">
          <input type="submit" />
        </div>
      {% endblock %}
    </div>
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_base_class: "icon",
      icon_blockname: "search",
      icon_name: "search",
    } %}
  </div>
</nav>
