{{ attach_library('yale_infosec/main-menu') }}

{% set search_btn_attributes = {
  class: bem('search_btn', [], "main-nav"),
  id: 'search-btn'
} %}

<nav {{ bem('main-nav-nav', main_nav_modifiers) }}>
  <a href="#" id="toggle-expand" class="toggle-expand">
    <span class="toggle-expand__open">
      <span class="toggle-expand__text">Menu</span>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "toggle-expand",
        icon_name: "menu",
      } %}
    </span>
    <span class="toggle-expand__close">
      <span class="toggle-expand__text">Close</span>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "toggle-expand",
        icon_name: "close",
      } %}
    </span>
  </a>
  {# Main Nav #}
  <div id="main-nav" class="main-nav">
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "main-menu",
      items: menu_items,
    } %}
    <button {{ add_attributes(search_btn_attributes) }}>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_blockname: "search",
        icon_name: "search",
      } %}
    </button>
    {# Search #}
    <div class="main-nav-search">
      {% block nav_search %}
        {% include "@molecules/search/search.twig" %}
      {% endblock %}
    </div>
  </div>
</nav>
