.header {
  background-color: clr(background-inverse);
  left: 0;
  max-width: 992px;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;

  &--fixed {
    position: fixed;
  }

  // When no hero is present, the header can't cover the content.
  // So for now, we will make sure that main has enough margin if hero doesn't exist.
  // We will likely change this when we get this into Drupal.
  & + .main {
    margin-top: $space-sextuple;

    @include large {
      margin-top: 24rem;
    }
  }

  &__inner {
    max-width: 1224px;
    padding: 0 $space-half;
    width: 100%;

    @include breakpoint(335px) {
      padding: 0 $space;
    }

    @include small {
      padding: 0 $space;
    }

    @include medium {
      padding: 0 $space-triple;
    }

    @include large {
      padding: 0 3.6rem 0 5.5rem;
    }

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $space 0;

    @include medium {
      padding: 2.6rem 0;
    }

    @include large {
      display: block;
      padding: 3.1rem 0 1.8rem;
    }
  }

  &__menu {
    position: relative;
    top: -3px;
  }
}
