.header {
  background-color: clr(background-inverse);
  left: 0;
  max-width: 992px;
  top: 0;
  z-index: 100;
  width: 100%;

  .header-hero & {
    @include large {
      position: absolute;

      // Admin Menu	
      .toolbar-fixed &,	
      .toolbar-vertical & {	
        top: 39px;	
      }	

      .toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {	
        top: 79px;	
      }
    }
  }

  &--fixed {
    position: fixed;

    @include large {
      position: absolute;
    }

    // Admin Menu	
    .toolbar-fixed &,	
    .toolbar-vertical & {	
      top: 39px;	
    }	

    .toolbar-fixed.toolbar-horizontal.toolbar-tray-open & {	
      top: 79px;	
    }
  }

  &__inner {
    max-width: 1224px;
    padding: 0 $space-half;
    width: 100%;

    @include breakpoint(335px) {
      padding: 0 $space;
    }

    @include small {
      padding: 0 $space;
    }

    @include medium {
      padding: 0 $space-triple;
    }

    @include large {
      padding: 0 3.6rem 0 5.5rem;
    }

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $space 0;

    @include medium {
      padding: 2.6rem 0;
    }

    @include large {
      display: block;
      padding: 3.1rem 0 1.8rem;
    }
  }

  &__menu {
    position: relative;
    top: -3px;
  }
}
