.hero {
  color: clr(text-inverse);
  overflow: hidden;
  position: relative;

  &--guide::after {
    background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0), rgba(44, 44, 44, 1));
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include medium {
      background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0), rgba(44, 44, 44, 0.71));
    }
  }
}

.hero__image {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  @include medium {
    position: static;
  }

  img,
  picture {
    max-width: none;
    object-fit: cover;

    @include medium {
      max-width: 100%;
    }
  }
}

.hero__copy {
  padding: 13rem 1rem 3rem;
  position: relative;
  width: 100%;
  z-index: 1;

  @include medium {
    bottom: $space-triple;
    left: 0;
    padding: 0;
    position: absolute;
  }
}

.hero__copy-inner {
  margin: 0 auto;
  max-width: 850px;
}

.hero__subheading {
  font-size: 1.8rem;
  font-weight: 900;
  margin: 0 0 0 72px;
  text-transform: uppercase;
}

.hero__icon {
  fill: clr(text-inverse);
  height: 68px;
  margin-right: $space;
  width: 63px;
}

.hero__title {
  display: flex;
}

.hero__heading {
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 0.9;
  margin: 0;

  @include medium {
    font-size: 7.2rem;
  }
}
