.hero {
  color: clr(text-inverse);
  overflow: hidden;
  margin-bottom: $space-triple;
  position: relative;

  &--guide {
    @include large {
      height: 90vh;
    }

    &::after {
      background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0), rgba(44, 44, 44, 1));
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @include medium {
        background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0), rgba(44, 44, 44, 0.71));
      }
    }
  }

  &--home::after {
    @include large {
      background-image: linear-gradient(to bottom, rgba(44, 44, 44, 0) 70%, rgba(44, 44, 44, 1));
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.hero__image {
  max-height: 300px;

  @include medium {
    max-height: 500px;
  }

  @include large {
    max-height: 750px;
  }

  &--home {
    @include large {
      max-height: 900px;
    }
  }

  &--guide {
    height: 100%;
    left: 0;
    max-height: none;
    position: absolute;
    top: 0;
    width: 100%;

    @include medium {
      position: static;
    }

    img,
    picture {
      height: 100%;
      width: 100%;
    }
  }

  img,
  picture {
    object-fit: cover;

    @include medium {
      width: 100%;
    }
  }
}

.hero__copy {
  padding: 13rem 1rem 3rem;
  position: relative;
  width: 100%;
  z-index: 1;

  @include medium {
    bottom: $space-triple;
    left: 0;
    padding: 0;
    position: absolute;
  }

  &--bg {
    background-color: clr(primary);
    padding: $space-double;

    @include medium {
      position: relative;
    }

    @include large {
      bottom: auto;
      left: auto;
      padding: $space-triple;
      position: absolute;
      right: 3.5%;
      top: 219px;
      width: 50%;
    }
  }
}

.hero__copy-inner {
  &--reverse {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    max-width: 875px;

    @include small {
      width: 80%;
    }
  }
}

.hero__icon {
  fill: rgba(255, 255, 255, 0.7);
  height: 34px;
  margin-right: $space;
  width: 25px;

  @include medium {
    height: 68px;
    width: 70px;
  }
}

.hero__title {
  display: flex;
}

.hero__heading {
  &--large {
    font-size: 4.2rem;
    font-weight: 900;
    line-height: 0.9;
    margin: 0;
    width: 92%;

    @include medium {
      font-size: 5.2rem;
    }

    @include large {
      font-size: 7.2rem;
    }
  }

  &--serif {
    font: normal 5.3rem/1 $font-heading;
    margin: 0;
  }
}

.hero__subheading {
  &--large {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 3.87px;
    margin: 0 0 0 42px;
    text-transform: uppercase;

    @include medium {
      font-size: 1.8rem;
      margin: 0 0 0 86px;
    }

    @include large {
      margin: 0 0 0 88px;
    }
  }

  &--small {
    font-size: 1.6rem;
    font-weight: normal;
  }
}
