.teaser-list {
  margin-bottom: 4.8rem;
}

.teaser-list__heading {
  color: clr('text-heavy');
  font-size: 1.8rem;
  line-height: 0.94;
  margin: 0 0 2rem;
  text-transform: uppercase;

  .bg--dark-gray &,
  .bg--blue &,
  .bg--dark-blue & {
    color: clr(text-inverse);
  }
}

.teaser-list__heading--light {
  color: rgba(255, 255, 255, 0.7);
}

.teaser-list__link--light {
  @include light-link;

  display: block;
  margin-top: $space;
}
