<div class="mss-overview-wrapper">
  <div class="mss-overview-wrapper-inner">
    <a class="calculator-restart" href="/mss/calculator">&larr; Start Over</a>
    <div class="mss-overview">
      <div class="mss-overview-content">
        <h2 class="mss-overview-title">Overview of Requirements</h2>
        <h3 class="mss-overview-selections">Based on the following selections: <em>{{ filters|join(', ') }}</em></h3>
        <div class="results">
          {% if results|length < 1 %}
            <h4 class="mss-overview-result">There are no Security Standards that match your selected criteria. <a href="/mss/calculator">Adjust your selection and try again.</a></h4>
          {% endif %}
          {% for item in results %}
            <h4 class="mss-overview-result">
              {{item.title}}:
              {% for child in item.children %}
                {{ link(child.policy_number, child.uri) }}{% if not loop.last %},{% endif %}
              {% endfor %}
            </h4>
          {% endfor %}
        </div>
      </div>
      <button class="mss-overview-expand-button">Expand</button>
    </div>
  </div>
</div>
