.bg {
  padding: $space-double 0;

  @include medium {
    padding: $space-triple 0;
  }

  &--white + .bg--white {
    padding: 0;
  }

  &--light-gray {
    background-color: clr(accentsubtle);
  }

  &--gray {
    background-color: color(gray-dd);
  }

  &--light-blue {
    background-color: clr(background-section);
  }

  &--blue {
    background-color: clr(primary);
    color: clr(text-inverse);
  }

  &--dark-blue {
    background-color: clr(background-inverse);
    color: clr(text-inverse);
  }

  &--dark-gray {
    background-color: color(gray-4a);
    color: clr(text-inverse);
  }

  &--top-shadow {
    box-shadow: inset 0 36px 36px -36px rgba(0, 0, 0, 0.07);
  }

  &--white-content {
    h2 {
      color: clr(text-inverse);
    }
  }
}
