/* Cheap hack to mimic page layout grids */
.standard-primary,
.standard-listing-header {
  margin-left: 5em;
  margin-right: 16em;
}

.standard-primary h2 {
  font-weight: normal;
  color: var(--c-text-heavy);
  font-family: "YaleNew",serif;
  font-size: 4.8rem;
  margin-bottom: 0;
  line-height: 5rem;
}

.standard-primary h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 3.5rem;
}

.standard-primary h3 p {
  margin: 0;
}

.standard-specifications {
  margin-bottom: 1.3em;
}

.standard-specifications:last-child {
  margin-bottom: 3.5em;
}

.standard-specifications h4 {
  background-color: var(--c-background-inverse);
  color: var(--c-text-inverse);
  padding: 0.6em 0.9em 0.3em;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 0;
}

.standard-specifications h4 a {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: bold;
  color: #b2c2d2;
}

.standard-specifications-grid a:link,
.standard-specifications-grid a:hover,
.standard-specifications-grid a:visited {
  color: var(--c-background-deep);
  text-decoration: none;
}

.standard-specifications-grid a {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . ." ". . ." ". . .";
  background-color: #cfcbc7;
  padding-bottom: 1px;
  padding-top: 1px;
}

.standard-specifications-grid a span:nth-child(n + 4),
.standard-specifications-grid a span.standard-specifications-spec-item:nth-child(n + 10) {
  background: var(--c-accentsubtle);
}

.standard-specifications-grid a > span,
.standard-specifications-grid a > span:nth-child(n + 7) {
  background: white;
  padding: 0.5em;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

.standard-specifications-grid .standard-spec-labels {
  margin-left: 1rem;
}
