.text-with-image {
  @include wrapper;

  &--primary {
    @include grid(
      $areas: "left-side-a left-gutter-a content-left-a content-right-a sidebar-a right-side-a",
      $columns: 3.5% 3.5% 32.25% 32.25% 25% 3.5%
    );
  }

  &--centered {
    @include grid(
      $areas: "left-side-c aside-left-c gutter-left-c content-left-c content-gutter-c content-right-c aside-right-c right-side-c",
      $columns: 3.5% 17.5% 3.5% 23.75% 3.5% 23.75% 3.5% 17.5% 3.5%
    );

    @include xl {
      @include grid(
        $areas: "left-side-c aside-left-c gutter-left-c content-left-c content-gutter-c content-right-c aside-right-c right-side-c",
        $columns: 3.5% 14.5% 3.5% 26.75% 3.5% 26.75% 3.5% 14.5% 3.5%,
        $bp: $xl
      );
    }
  }
}

.text-with-image__image {
  &--primary {
    grid-column-end: 6;
    grid-column-start: 4;
    grid-row-start: 1;
  }

  &--centered {
    grid-column-end: 9;
    grid-column-start: 6;
    grid-row-start: 1;

    &.text-with-image__image--left {
      grid-column-end: 5;
      grid-column-start: 2;
    }
  }  

  figure,
  img {
    width: 100%;
  }
}

.text-with-image__text {
  &--primary {
    grid-column-end: 4;
    grid-column-start: 3;
    grid-row-start: 1;
    margin-right: $space-triple;
  }

  &--centered {
    grid-column-end: 5;
    grid-column-start: 4;
    grid-row-start: 1;

    &.text-with-image__text--left {
      grid-column-end: 7;
      grid-column-start: 6;
    }
  }
}

// Intro Text
.intro-text {
  @include wrapper;
  
  .node--event & {
    margin-bottom: 0;
  }

  @include large {
    @include grid;
  }

  .blockquote {
    margin-bottom: 0;
  }
}

.intro-text__image {
  grid-column-end: 7;
  grid-column-start: 5;
  margin-bottom: $space-triple;

  @include large {
    margin-bottom: 0;
    margin-top: -16rem;
  }

  picture,
  img {
    width: 100%;
  }

  .intro-text--news & {
    @include large {
      margin-top: -19rem;
    }
  }

  .text-section__content {
    grid-column-end: right-side;
    grid-column-start: content;

    .blockquote {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

.intro-text__text {
  grid-area: content;
}
