.text-with-image {
  @include wrapper;

  @include large {
    @include grid(
      $areas: "left-side-a left-gutter-a content-left-a content-right-a sidebar-a right-side-a",
      $columns: 3.5% 3.5% 32.25% 32.25% 25% 3.5%
    );
  }
}

.text-with-image__image {
  grid-column-end: 6;
  grid-column-start: 4;
  grid-row-start: 1;

  figure,
  img {
    width: 100%;
  }
}

.text-with-image__text {
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-start: 1;
  margin-right: $space-triple;
}

// Intro Text
.intro-text {
  @include wrapper;

  margin-bottom: $space-triple;

  @include large {
    @include grid;
  }

  .blockquote {
    margin-bottom: 0;
  }
}

.intro-text__image {
  grid-area: sidebar;
  margin-bottom: $space-triple;

  @include large {
    margin-bottom: 0;
    margin-top: -16rem;
  }

  picture,
  img {
    width: 100%;
  }

  .intro-text--news & {
    @include large {
      margin-top: -19rem;
    }
  }

  .text-section__content {
    grid-column-end: right-side;
    grid-column-start: content;

    .blockquote {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

.intro-text__text {
  grid-area: content;
}
