.cta-section {
  @include wrapper;

  &--primary {
    @include grid;
  }

  &--centered {
    @include centered-grid;
  }

  &--anchored_aside_left,
  &--anchored_aside_right {
    @include aside-grid;
  }

}

.cta-section__content {
  &--primary {
    grid-column-end: 4;
    grid-column-start: 1;

    &.cta-section__content--large {
      grid-column-end: 7;
      grid-column-start: 1;
    }
  }

  &--centered {
    grid-column-end: 6;
    grid-column-start: 3;

    &.cta-section__content--large {
      grid-column-end: 7;
      grid-column-start: 2;
    }
  }

  &--anchored_aside_left {
    grid-column-end: 5;
    grid-column-start: 2;

    &.cta-section__content--large {
      grid-column-end: 8;
    }
  }

  &--anchored_aside_right {
    grid-column-end: 6;
    grid-column-start: 4;

    &.cta-section__content--large {
      grid-column-end: 6;
      grid-column-start: 1;
    }
  }
}
