.cta-section {
  @include wrapper;

  &--primary {
    @include grid;
  }

  &--centered {
    @include centered-grid;
  }
}

.cta-section__content {
  &--primary {
    grid-column-end: content;
    grid-column-start: left-side;

    &.cta-section__content--large {
      grid-column-end: right-gutter;
      grid-column-start: left-side;
    }
  }

  &--centered {
    grid-column-end: 6;
    grid-column-start: 3;

    &.cta-section__content--large {
      grid-column-end: 7;
      grid-column-start: 2;
    }
  }
}
