/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/

$color-heading: clr(text-heavy);

@mixin heading-xl(
  $font-family: $font-heading,
  $font-size: 6.4rem,
  $line-height: 1.1,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: normal,
  $margin: 3rem 0
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-large(
  $font-family: $font-heading,
  $font-size: 4.8rem,
  $line-height: 0.94,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: normal,
  $margin: 3rem 0
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-medium(
  $font-family: $font-heading,
  $font-size: 3.6rem,
  $line-height: 1.17,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: normal,
  $margin: 3rem 0
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-small(
  $font-family: $font-heading,
  $font-size: 3rem,
  $line-height: 1.63,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: normal,
  $margin: 2.5rem 0
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xs(
  $font-family: $font-heading,
  $font-size: 2.5rem,
  $line-height: 1.7,
  $color: $color-heading,
  $color-link: inherit,
  $color-link-hover: inherit,
  $font-weight: normal,
  $margin: 2rem 0
) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  margin: $margin;
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

.h1 {
  @include heading-xl;
}

.h2 {
  @include heading-large;
}

.h3 {
  @include heading-medium;
}

.h4 {
  @include heading-small;
}

.h5,
.h6 {
  @include heading-xs;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
  .bg--dark-gray &,
  .bg--blue &,
  .bg--dark-blue & {
    color: clr(text-inverse);
  }
}

.page-title {
  @include heading-xl(
    $line-height: 1,
    $margin: 0 0 $space,
  );
}

.page-subtitle {
  @include heading-large(
    $color: color('gray-4a'),
    $font-family: $font-body,
    $font-size: 2.4rem,
    $font-weight: normal,
    $line-height: 1,
    $margin: 0 0 $space,
  );
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}
