.footer {
  background-color: clr(highlight);
  padding: 5.6rem 0 $space-triple;

  &__inner {
    @include wrapper($h-padding-large: 4rem);
  }
}

.footer__logo {
  margin-bottom: $space-double;

  @include large {
    margin-bottom: 0;
  }
}

.footer__copyright {
  color: clr(text-inverse);
  font-size: 1.4rem;
  margin-top: $space-sextuple;
}
